---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
// import { squish } from "../../utils//textUtils";
// import BlogFilters from "../../components/BlogFilters";
import BlogPreview from "../../components/BlogPreview.astro";

const posts = (await getCollection("blog"))
  .filter((post) => process.env.NODE_ENV === "development" || !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// Add the default filter "All"
// const filters = [
//   {
//     id: "all",
//     name: "All",
//   },
//   ...posts
//     .filter((post) => !!post.data.category)
//     .map((post) => ({
//       id: squish(post.data.category),
//       name: post.data.category,
//     })),
// ];
const title = `${SITE_TITLE} | Blog`;
---

<BaseLayout title={title} description={SITE_DESCRIPTION}>
  <div class="min-w-full min-h-full bg-primary pb-24">
    <main
      class="flex flex-col gap-4 align-middle items-center justify-center w-screen max-w-[95vw] bg-primary text-primary min-h-[var(--screen-height)]"
    >
      <div class="bg-primary py-4 sm:py-4">
        <div class="w-full lg:px-8">
          <h2
            class="text-3xl font-bold tracking-tight text-primary sm:text-4xl"
          >
            Posts
          </h2>
          <!-- <BlogFilters filters={filters} pathname="/blog" client:load /> -->
          <div class="mt-4 space-y-20 lg:mt-8 lg:space-y-20">
            {posts.map((post) => <BlogPreview post={post} />)}
          </div>
        </div>
      </div>
    </main>
  </div>
</BaseLayout>
