---
import FormattedDate from "@/components/FormattedDate.astro";

const { post } = Astro.props;
---

<article class="relative isolate flex flex-col gap-8 lg:flex-row max-w-[95vw]">
  <a href={`/blog/${post.slug}`}>
    <div
      class="relative w-screen aspect-video sm:aspect-2/1 lg:aspect-square lg:w-64 lg:shrink-0"
    >
      <img
        src={post.data.heroImage}
        alt={post.data.title}
        class="absolute inset-0 h-full w-full bg-secondary object-cover"
        transition:name={post.data.heroImage}
      />
      <div
        class="absolute inset-0 ring-1 ring-inset ring-foreground/10"
      >
      </div>
    </div>
  </a>
  <div>
    <div class="flex items-center gap-x-4 text-xs pl-2 md:pl-0">
      <FormattedDate date={post.data.pubDate} />
      {
        post.data.category && (
          <a
            href={`/blog/category/${post.data.category}`}
            class="relative z-10 rounded-full bg-background px-3 py-1.5 font-medium text-secondary-foreground hover:bg-secondary"
          >
            {post.data.category}
          </a>
        )
      }
    </div>
    <div class="group relative max-w-xl">
      <h3
        class="mt-3 pl-2 md:pl-0 text-lg font-semibold leading-6 text-foreground group-hover:text-secondary-foreground"
      >
        <a href={`/blog/${post.slug}`}>
          <span class="absolute inset-0 text-highlight"></span>
          {post.data.title}
        </a>
      </h3>
      {
        post.data.tags && (
          <span class="text-xs pl-2 md:pl-0 text-secondary-foreground">
            {post.data.tags.join(", ")}
          </span>
        )
      }
      <p
        class="mt-5 pl-2 md:pl-0 text-sm leading-6 text-foreground"
      >
        {post.data.description}
      </p>
      <div
        class="mt-6 flex border-t border-foreground/5 pt-6"
      >
        <div class="relative flex items-center gap-x-4">
          <div class="text-sm leading-6">
            <p class="font-semibold text-foreground">
              <a href="/about" class="hover:underline">
                Jake Hayes
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
