---
import FormattedDate from "./FormattedDate.astro";
import { Image } from "astro:assets";
import me from "../assets/home/me-sm.png";

const { post } = Astro.props;
---

<article
  class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80"
>
  <img
    src={post.data.heroImage}
    alt={post.data.title}
    class="absolute inset-0 -z-10 h-full w-full object-cover"
  />
  <div
    class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"
  >
  </div>
  <div
    class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"
  >
  </div>
  <div class="p-4 rounded bg-gray-900/60 text-white backdrop-blur-sm">
    <div
      class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-secondary"
    >
      <FormattedDate date={post.data.pubDate} classStr="text-white" />
      <div class="-ml-2 flex items-center gap-x-4">
        <svg
          viewBox="0 0 2 2"
          class="-ml-0.5 h-0.5 w-0.5 flex-none fill-clear"
        >
          <circle cx="1" cy="1" r="1"></circle>
        </svg>
        <div class="flex gap-x-2.5 text-white">
          <Image
            src={me}
            alt="Author"
            class="h-6 w-6 flex-none rounded-full bg-white/10 object-cover"
          />
          Jake Hayes
        </div>
      </div>
    </div>
    <h3 class="mt-3 text-lg font-semibold leading-6">
      <a href={`/blog/${post.slug}`} class="text-highlight-lighten">
        <span class="absolute inset-0"></span>
        {post.data.title}
      </a>
    </h3>
  </div>
</article>
