---
const {
  sectionHeadline = "Everything you need",
  sectionTitle = "All-in-one platform",
  sectionDesc = "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.",
  features = [
    { title: "Invite team members", desc: "Rerum repellat labore necessitatibus reprehenderit molestiae praesentium." },
    { title: "List view", desc: "Corporis asperiores ea nulla temporibus asperiores non tempore assumenda aut." },
    { title: "Keyboard shortcuts", desc: "In sit qui aliquid deleniti et. Ad nobis sunt omnis. Quo sapiente dicta laboriosam." },
    { title: "Calendars", desc: "Sed rerum sunt dignissimos ullam. Iusto iure occaecati voluptate eligendi." },
    { title: "Notifications", desc: "Quos inventore harum enim nesciunt. Aut repellat rerum omnis adipisci." },
    { title: "Boards", desc: "Quae sit sunt excepturi fugit veniam voluptatem ipsum commodi." },
    { title: "Reporting", desc: "Eos laudantium repellat sed architecto earum unde incidunt." },
    { title: "Mobile app", desc: "Nulla est saepe accusamus nostrum est est fugit omnis." },
  ],
} = Astro.props as {
  sectionHeadline?: string;
  sectionTitle?: string;
  sectionDesc?: string;
  features?: { title: string; desc: string }[];
};
---

<div class="bg-primary py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
  <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      <div class="col-span-2">
        <h2 class="text-base/7 font-semibold text-highlight">{sectionHeadline}</h2>
        <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-primary sm:text-5xl">{sectionTitle}</p>
        <p class="mt-6 text-base/7 text-secondary">{sectionDesc}</p>
      </div>
  <dl class="col-span-3 grid grid-cols-1 gap-x-8 gap-y-10 text-base/7 text-secondary sm:grid-cols-2 lg:gap-y-16">
        {features.map((feature) => (
          <div class="relative pl-9">
            <dt class="font-semibold text-primary">
              <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="absolute top-1 left-0 size-5 text-highlight">
                <path d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" fill-rule="evenodd" />
              </svg>
              {feature.title}
            </dt>
            <dd class="mt-2">{feature.desc}</dd>
          </div>
        ))}
      </dl>
    </div>
  </div>
</div>
